/*-------------COLORS-----------*/
/*
#79007C - FPACT LIGHT PURPLE
#370066 - FPACT DARK PURPLE 
#FF041D - FPACT HEART RED

#dbb3ff - light purple
*/

* {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

#map {
	height: 60vh;
}

/*-------------HEADER-----------*/
.header-offset,
.header {
	height:4rem;
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #79007C;
	position:fixed;
	width:100%;
	z-index:1;
}

.header-left {
	margin-left:3rem;
	color:#fff;
}

.header-right {
	display: flex;
	align-items: center;
	height: 100%;
	margin-right: 3rem;
}

.header-right > a{
	display: flex;
	align-items: center;
	justify-content: center;
	/*margin-right: 20px;*/
	text-decoration: none;

	height: 100%;
	width:4rem;
	color:#fff;
}

.header-right > a:hover{
	background-color:#fff ;
	color:#370066;
}

.header-center,
.header-center img {
	height:100%;
}

/*-------------Search Features-----------*/

.features-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.features-bar > * {
	margin:1rem;
}

.search-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	/*background-color: #dbb3ff;*/
}

.search-container > * {
	margin:1rem;
}

.search-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	/*	background-color: lavender;*/
}

.feature-item input,
.feature-item select {
	height:1.5rem;
	font-size: 1rem;
}

.feature-item label {
	font-size: 1.25rem
}

.search-input {
	width: 300px;
}

.set-radius {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-logo {
	display: flex;
	justify-content: center;
}

/*-------------About-----------*/

.about {
	height: 50vh;
	background:lavender;
}

/*-------------Contact-----------*/
.contact {
	height:50vh;
	background-color: skyblue;
}